body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
    background-image: url(./../assets/background.jpg);
}   

#game {
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 255);
}

.end-game-button {
    position: absolute;
    cursor: pointer;
    display: none;
}

@font-face {
    font-family: 'BM_Pixel'; 
    src: url('assets/fonts/BM_Pixel.otf') format('opentype'); 
}

#victoryText {
    font-family: 'BM_Pixel', sans-serif;
    position: absolute;
    cursor: pointer;
    display: none;
    font-size: 100px; 
}